<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="150" width="150"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="skill-table">

                <div class="itemSheetHeader">
                    <div>
                        <label>Qty</label>
                        <div><input type="text" name="data.qty" value="{{data.qty}}"></div>
                    </div>
                    <div>
                        <label>ENC</label>
                        <div><input type="text" name="data.enc" value="{{data.enc}}"></div>
                    </div>
                    <div>
                        <label>Value</label>
                        <div><input type="text" name="data.price" value="{{data.price}}"></div>
                    </div>
                </div>
                <hr>
                <div class="itemSheetHeader">
                    <div>
                        <label>Equipped</label>
                        <div><input type="checkbox" name="data.equipped" {{checked data.equipped}}></div>
                    </div>
                    <div>
                        <label>AP</label>
                        <div>
                            <input type="text" name="data.armorValue" value="{{data.armorValue}}">
                            <input type="text" name="data.armorMax" value="{{data.armorMax}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="editorBody">
            <h1>Notes</h1>
            {{editor content=data.desc target="data.desc" button=true owner=owner editable=editable}}
        </div>
    </section>

</form>