<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <div class="stickyHeader">
        <header class="sheet-header">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150"/>
            <div class="header-fields">
                <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
                <div class="resources">
                    <div class="resourceGroup1">
                        <div>
                            <div>Magic</div>
                            <div class="resourceLabel">
                                <input type="number" name="data.attributes.magicPoints.value" value="{{data.attributes.magicPoints.value}}">
                                /
                                <label>{{data.attributes.magicPoints.max}}</label>
                            </div>
                        </div>
                        <div>
                            <div>Tenacity</div>
                            <div class="resourceLabel">
                                <input type="number" name="data.attributes.tenacity.value" value="{{data.attributes.tenacity.value}}">
                                /
                                <label>{{data.attributes.tenacity.max}}</label>
                            </div>
                        </div>
                        <div>
                            <div>Luck</div>
                            <div class="resourceLabel">
                                <input type="number" name="data.attributes.luckPoints.value" value="{{data.attributes.luckPoints.value}}">
                                /
                                <label>{{data.attributes.luckPoints.max}}</label>
                            </div>
                        </div>
                        <div>
                            <div>Action Points</div>
                            <div class="resourceLabel">
                                <input type="number" name="data.attributes.actionPoints.value" value="{{data.attributes.actionPoints.value}}">
                                /
                                <label>{{data.attributes.actionPoints.max}}</label>
                            </div>
                        </div>
                        <div>
                            <div>XP Rolls</div>
                            <div class="resourceLabel">
                                <input type="number" name="data.attributes.xpRolls.value" value="{{data.attributes.xpRolls.value}}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {{!-- Sheet Tab Navigation --}}
        <div class="navBarCreature">
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="core">Core</a>
                <a class="item" data-tab="combat">Combat</a>
                <a class="item" data-tab="magic">Spells</a>
                <a class="item" data-tab="inventory">Inventory</a>
                <a class="item" data-tab="journal">Details</a>
            </nav>
        </div>
    </div>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Core Tab --}}
        <div class="tab core" data-group="primary" data-tab="core">
            <div class="coreTabSidebar">
                <label>
                    <div class="heightWeightChart">
                        <label>Height (cm)</label>
                    </div>
                    <input type="number" name="data.height" value="{{data.height}}">
                </label>
                <hr>
                <label>
                    <div class="heightWeightChart">
                    <label>Weight (kg)</label>
                </div>
                    <input type="number" name="data.weight" value="{{data.weight}}">
                </label>

                <table>
                    <tr>
                        <th colspan="2">Movement</th>
                    </tr>
                    <tr>
                        <th>Base</th>
                        <td><input type="number" name="data.attributes.movement.base" value="{{data.attributes.movement.base}}"></td>
                    </tr>
                    <tr>
                        <th>Walk</th>
                        <td>{{data.attributes.movement.walk}} m</td>
                    </tr>
                    <tr>
                        <th>Run</th>
                        <td>{{data.attributes.movement.run}} m</td>
                    </tr>
                    <tr>
                        <th>Sprint</th>
                        <td>{{data.attributes.movement.sprint}} m</td>
                    </tr>
                    <tr>
                        <th>Jump H.</th>
                        <td>{{data.attributes.movement.jumpH}} m</td>
                    </tr>
                    <tr>
                        <th>Jump V.</th>
                        <td>{{data.attributes.movement.jumpV}} m</td>
                    </tr>
                    <tr>
                        <th>Climb Rough</th>
                        <td>{{data.attributes.movement.climbRough}} m</td>
                    </tr>
                    <tr>
                        <th>Climb Steep</th>
                        <td>{{data.attributes.movement.climbSteep}} m</td>
                    </tr>
                    <tr>
                        <th>Climb Sheer</th>
                        <td>{{data.attributes.movement.climbSheer}} m</td>
                    </tr>
                    <tr title="{{data.attributes.movement.canSwim}}">
                        <th>Swim</th>
                        <td>{{data.attributes.movement.swim}} m</td>
                    </tr>
                </table>
            </div>
            <div class="coreMainBar">
                <div class="characteristic-table">
                    <label>
                        <div>STR</div>
                        <input type="number" name="data.characteristics.str.value" value="{{data.characteristics.str.value}}">
                    </label>
                    <label>
                        <div>CON</div>
                        <input type="number" name="data.characteristics.con.value" value="{{data.characteristics.con.value}}">
                    </label>
                    <label>
                        <div>SIZ</div>
                        <input type="number" name="data.characteristics.siz.value" value="{{data.characteristics.siz.value}}">
                    </label>
                    <label>
                        <div>DEX</div>
                        <input type="number" name="data.characteristics.dex.value" value="{{data.characteristics.dex.value}}">
                    </label>
                    <label>
                        <div>INT</div>
                        <input type="number" name="data.characteristics.int.value" value="{{data.characteristics.int.value}}">
                    </label>
                    <label>
                        <div>POW</div>
                        <input type="number" name="data.characteristics.pow.value" value="{{data.characteristics.pow.value}}">
                    </label>
                    <label>
                        <div>CHA</div>
                        <input type="number" name="data.characteristics.cha.value" value="{{data.characteristics.cha.value}}">
                    </label>
                </div>
                <hr>


                <table>
                    <tr>
                        <th>Dmg Mod</th>
                        <th>XP Mod</th>
                        <th>Heal Rate</th>
                        <th>Initiative</th>
                    </tr>
                    <tr class="specialNumber">
                        <td>{{data.attributes.damageMod.value}}</td>
                        <td>{{data.attributes.xpMod.value}}</td>
                        <td>{{data.attributes.healRate.value}}</td>
                        <td>{{data.attributes.initBonus.value}}</td>
                    </tr>
                </table>
            </div>
            <div class="skill-list1">
                <h2 class="skill-list-header">
                    <button class="itemCreate" id="standardSkill">+</button>
                    Standard Skills
                </h2>
                <ol>
                    {{#each actor.standardSkill as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <button class="skill-roll"><i class="fas fa-dice-d20"></i></button>
                                <label class="item-name">{{item.name}}</label>
                                <label class="skillValue">{{item.data.value}}%</label>
                                <div class="item-controls">
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                        </li>
                    {{/each}}
                </ol>
            </div>
            <div class="skill-list2">
                <h2 class="skill-list-header">
                    <button class="itemCreate" id="professionalSkill">+</button>
                    Professional Skills
                </h2>
                <ol>
                    {{#each actor.professionalSkill as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <button class="skill-roll"><i class="fas fa-dice-d20"></i></button>
                                <label class="item-name">{{item.name}}</label>
                                <label class="skillValue">{{item.data.value}}%</label>
                                <div class="item-controls">
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                        </li>
                    {{/each}}
                </ol>
                <h2 class="skill-list-header">
                    <button class="itemCreate" id="magicSkill">+</button>
                    Magic Skills
                </h2>
                <ol>
                    {{#each actor.magicSkill as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <button class="skill-roll"><i class="fas fa-dice-d20"></i></button>
                            <label class="item-name">{{item.name}}</label>
                            <label class="skillValue">{{item.data.value}}%</label>
                            <div class="item-controls">
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </ol>
                <h2 class="skill-list-header">
                    <button class="itemCreate" id="passion">+</button>
                    Passions
                </h2>
                <ol>
                    {{#each actor.passion as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <button class="skill-roll"><i class="fas fa-dice-d20"></i></button>
                                <label class="item-name">{{item.name}}</label>
                                <label class="skillValue">{{item.data.value}}%</label>
                                <div class="item-controls">
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                        </li>
                    {{/each}}
                </ol>

            </div>
        </div>

        {{!-- Combat Tab --}}
        <div class="tab combat" data-group="primary" data-tab="combat">
            <div class="combatTabLists">
                <div class="hit-locations">
                    <div class="combatStatusBar">
                        <div>
                            <h2>Status</h2>
                            <label>
                                Fatigue
                                <select class="dropDown" name="data.fatigue.current" data-type="String">
                                    {{#select data.fatigue.current}}
                                    {{#each data.fatigue.level as |item key|}}
                                    <option value="{{key}}">{{item}}</option>
                                    {{/each}} {{/select}}
                                </select>
                            </label>
                            <hr>
                        </div>
                        <div class="paperDoll">
                            <div class="statusFlexContainer">
                                <div class="statusLabel">
                                    <label title="Armor Penalty">
                                        <i class="fas fa-shield-alt"></i>
                                        {{data.encStats.armorPenalty}}
                                    </label>
                                </div>
                                <div class="statusLabel">
                                    <label title="Damage Modifier">
                                        <i class="fas fa-fist-raised"></i>
                                        {{data.attributes.damageMod.value}}
                                    </label>
                                </div>
                                <div class="statusLabel">
                                    <label title="Walk/Run">
                                        <i class="fas fa-running"></i>
                                        {{data.attributes.movement.walk}}/{{data.attributes.movement.run}}
                                    </label>
                                </div>
                                <div class="statusLabel">
                                    <label title="Current ENC">
                                        <i class="fas fa-weight-hanging"></i>
                                        {{data.encStats.encTotal}}
                                    </label>
                                </div>
                                <div class="statusLabel">
                                    <label title="# of Wounds">
                                        <i class="fas fa-heart-broken"></i>
                                        {{data.wounds}}
                                    </label>
                                </div>
                            </div>
                            <div class="dollArt">
                                <img src="{{data.paperDoll}}" height="180" width="55"/>
                            </div>
                        </div>
                    </div>
                    

                   <div class="hitLocationTable">
                        <h2 class="skill-list-header">
                            <button class="itemCreate" id="hitLocation">+</button>
                            <div class="selectHitLocationArray">
                                <label>
                                    Hit Locations
                                </label>
                            </div>
                        </h2>
                        <ol>
                            <div class="itemHeaderContainer">
                                <label class="headerItem1"><i class="fas fa-dice-d20"></i></label>
                                <label class="headerItem2">Name</label>
                                <label class="headerItem3">Armor</label>
                                <label class="headerItem4" title="Apply Healing Rate">HP</label>
                            </div>
                            <hr>
                            {{#each actor.hitLocation as |item id|}}
                                <li class="item flexrow" data-item-id="{{item._id}}">
                                    <label class="rangeData">{{item.data.rangeStart}} - {{item.data.rangeEnd}}</label>
                                    <div class="hitLocationDetails">
                                        <div class="show">
                                            <label class="item-name">{{item.name}}</label>
                                        </div>
                                        <div class="noShow">
                                            <label class="item-name">
                                                {{{item.data.woundIcon}}}
                                                {{item.name}}
                                            </label>
                                        </div>
                                    </div>
                                    <label class="armorLabel" id="{{item.data.equippedArmorId}}">{{item.data.equippedArmorName}}</label>
                                    <label>{{item.data.armorValue}}</label>
                                    <label class="hpInputs">
                                        <label>{{item.data.hpValue}}</label>
                                        /
                                        <label>{{item.data.hpMax}}</label>
                                    </label>
                                    <div class="item-controls">
                                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                    </div>
                                </li>
                            {{/each}}
                            <hr>
                        </ol>
                    </div>

                </div>
                <hr>
                <div class="combat-style-list">
                    <h2 class="skill-list-header">
                        <button class="itemCreate" id="combatStyle">+</button>
                        Combat Styles
                    </h2>
                    <ol>
                        {{#each actor.combatStyle as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <button class="skill-roll"><i class="fas fa-dice-d20"></i></button>
                                <label class="item-name">{{item.name}}</label>
                                <label class="skillValue">{{item.data.value}}%</label>
                                <div class="item-controls">
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                    <hr>
                    <h2 class="skill-list-header">
                        <button class="itemCreate" id="armor">+</button>
                        Armor
                    </h2>
                    <ol>
                        {{#each actor.armor as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <label class="item-name">{{item.name}}</label>
                                <label class="skillValue">{{item.data.armorValue}}</label>
                                <div class="item-controls">
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                    <hr>
                </div>
                <div class="combat-style-list">
                    <h2 class="skill-list-header">
                        <button class="itemCreate" id="meleeWeapon">+</button>
                        Melee Weapons
                    </h2>
                    <ol>
                        {{#each actor.meleeWeapon as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <button class="weapon-roll"><i class="fas fa-dice-d20"></i></button>
                                <label class="item-name">{{item.name}}</label>
                                <label class="skillValue">{{item.data.dmg}}</label>
                                <div class="item-controls">
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                    <hr>
                    <h2 class="skill-list-header">
                        <button class="itemCreate" id="rangedWeapon">+</button>
                        Ranged Weapons
                    </h2>
                    <ol>
                        {{#each actor.rangedWeapon as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <button class="weapon-roll"><i class="fas fa-dice-d20"></i></button>
                                <label class="item-name">{{item.name}}</label>
                                <label class="skillValue">{{item.data.dmg}}</label>
                                <div class="item-controls">
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                    <hr>
                </div>
            </div>
        </div>

        {{!-- Magic Tab --}}
        <div class="tab magic" data-group="primary" data-tab="magic">
            <div class="magicSpells">
                <h2 class="skill-list-header">
                    <button class="itemCreate" id="spell">+</button>
                    Spells/Powers
                </h2>
                <ol class="spell-list">
                    {{#each actor.spell as |spell discipline|}}
                        <h2 class="spellSectionHeader"><b>{{discipline}}</b></h2>
                    {{#each spell as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <button class="sendToChat"><i class="fas fa-book"></i></button>
                            <label class="item-name">{{item.name}}</label>
                            <label class="skillValue">{{item.data.level}}</label>
                            <div class="item-controls">
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}} {{/each}}
                </ol>
            </div>
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory" data-group="primary" data-tab="inventory">
            <div class="inventorySidebar">
                <div class="encStatusBar">
                    <h2 class="skill-list-header">
                        Encumbrance
                    </h2>
                    <div>
                        <label>
                            Current ENC <span>{{data.encStats.encTotal}}</span>
                        </label>
                        <hr>
                        <label>
                            Burdened ENC <span>{{data.encStats.burdenedENC}}</span>
                        </label>
                        <hr>
                        <label>
                            Overloaded ENC <span>{{data.encStats.overloadedENC}}</span>
                        </label>
                        <hr>
                    </div>
                </div>
                <div class="currencyList">
                    <h2 class="skill-list-header">
                        <button class="itemCreate" id="currency">+</button>
                        Currencies
                    </h2>
                    <ol>
                        {{#each actor.currency as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <label class="item-name">{{item.name}}</label>
                                <label class="skillValue currencyQty">{{item.data.qty}}</label>
                                <div class="item-controls">
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                </div>
            </div>
            <div class="inventoryTable">
                    <h2 class="skill-list-header">
                        <button class="itemCreate" id="equipment">+</button>
                        Items & Equipment
                    </h2>
                <ol>
                    <label>Name</label>
                    <label class="itemListHeader">Qty</label>
                    <label class="itemListHeader">ENC</label>
                    <hr>
                    {{#each actor.equipment as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <label class="item-name">{{item.name}}</label>
                            <label class="skillValue">{{item.data.enc}}</label>
                            <label class="skillValue">{{item.data.qty}}</label>
                            <div class="item-controls">
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </ol>
            </div>
        </div>

        {{!-- Journal Tab --}}
        <div class="tab journal" data-group="primary" data-tab="journal">
            <div class="journalContainer">
                <div class="journalSpace">
                    <h2>Notes</h2>
                    <hr>
                    {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
                </div>
                <div class="journalSpace">
                    <h2>Bio</h2>
                    <hr>
                    {{editor content=data.journal target="data.journal" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </section>
</form>