<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname">
                <img class="item-profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="50" width="50"/>
                <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
            </h1>
            <div class="itemSheetHeader">
                <div>
                    <label>Qty</label>
                    <input type="number" name="data.qty" value="{{data.qty}}">
                </div>
                <div>
                    <label>ENC</label>
                    <input type="number" name="data.enc" value="{{data.enc}}">
                </div>      
            </div>
        </div>
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="editorBody">
            <h1>Notes</h1>
            {{editor content=data.desc target="data.desc" button=true owner=owner editable=editable}}
        </div>
    </section>

</form>