<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>


            <div class="itemSheetHeader">
                <div>
                    <label>Range Start</label>
                    <div><input type="number" name="data.rangeStart" value="{{data.rangeStart}}"/></div>
                </div>
                <div>
                    <label>Range End</label>
                    <div><input type="number" name="data.rangeEnd" value="{{data.rangeEnd}}"/></div>
                </div>
                <div>
                    <label>HP</label>
                    <div>
                        <input type="number" name="data.hpValue" value="{{data.hpValue}}"/>
                        /
                        <input type="number" name="data.hpMax" value="{{data.hpMax}}"/>
                    </div>
                </div>
                <div>
                    <label>HP Bonus</label>
                    <div><input type="number" name="data.hpBonus" value="{{data.hpBonus}}"/></div>
                </div>
            </div>
            <hr>
            <div class="itemSheetHeader">
                <div>
                    <label>Wounded</label>
                    <div><input type="checkbox" name="data.wounded" {{checked data.wounded}}></div>
                </div>
                <div title="Unticking this allows you to set HP Max manually">
                    <label>AutoCalc HP</label>
                    <div><input type="checkbox" name="data.autoCalcHP" {{checked data.autoCalcHP}}></div>
                </div>
                <div>
                    <label>Equipped Armor</label>
                    <div><select name="data.equippedArmorId" data-type="String">
                        {{#select data.equippedArmorId}}
                        {{#each data.armorList as |item|}}
                        <option value="{{item._id}}">{{item.name}}</option>
                        {{/each}} {{/select}}
                    </select></div>
                </div>
            </div>
        </div>
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="editorBody">
            <h1>Notes</h1>
            {{editor content=data.desc target="data.desc" button=true owner=owner editable=editable}}
        </div>
    </section>

</form>