<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="itemHeaderValues">
                <label>
                    <div>Cha 1</div>
                    <select name="data.char1" data-type="String">
                        {{#select item.data.data.char1}}
                        {{#each item.data.data.characteristics as |characteristics key|}}
                        <option value="{{key}}">{{characteristics}}</option> 
                        {{/each}} {{/select}}
                    </select>
                </label>
                <label>
                    <div>Cha 2</div>
                    <select name="data.char2" data-type="String">
                        {{#select item.data.data.char2}}
                        {{#each item.data.data.characteristics as |characteristics key|}}
                        <option value="{{key}}">{{characteristics}}</option> 
                        {{/each}} {{/select}}
                    </select>
                </label>        
                <label>
                    <div>Base</div>
                    <label>{{data.base}}%</label>
                </label>
                <label>
                    <div>XP</div>
                    <input type="number" name="data.xp" value="{{data.xp}}">
                </label>
                <label>
                    <div>Skill</div>
                    <label>{{data.value}}%</label>
                </label>
            </div>
            <hr>
            <div class="itemSheetHeader">
                <div>
                    <label>Devotional Pool</label>
                    <div>
                        <input type="number" name="data.devotionalPool.value" value="{{data.devotionalPool.value}}"/>
                        <input type="number" name="data.devotionalPool.max" value="{{data.devotionalPool.max}}"/>
                    </div>
                </div>
                <div>
                    <label>Shaping Points</label>
                    <div>
                        <input type="number" name="data.shapingPoints.value" value="{{data.shapingPoints.value}}"/>
                    </div>
                </div>
                <div>
                    <label>Spirit Damage</label>
                    <div>
                        <input type="text" name="data.spiritDamage" value="{{data.spiritDamage}}"/>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="editorBody">
            <h1>Notes</h1>
            {{editor content=data.desc target="data.desc" button=true owner=owner editable=editable}}
        </div>
    </section>

</form>