<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>

            <div class="itemSheetHeader">
                <div>
                    <label>Cha 1</label>
                    <div>
                        <select name="data.char1" data-type="String">
                            {{#select item.data.data.char1}}
                            {{#each item.data.data.characteristics as |characteristics key|}}
                            <option value="{{key}}">{{characteristics}}</option> 
                            {{/each}} {{/select}}
                        </select>
                    </div>
                </div>
                <div>
                    <label>Cha 2</label>
                    <div>
                        <select name="data.char2" data-type="String">
                            {{#select item.data.data.char2}}
                            {{#each item.data.data.characteristics as |characteristics key|}}
                            <option value="{{key}}">{{characteristics}}</option> 
                            {{/each}} {{/select}}
                        </select>
                    </div>
                </div>
                <div>
                    <label>Base</label>
                    <div>{{data.base}}%</div>
                </div>
                <div>
                    <label>XP Points</label>
                    <div><input type="number" name="data.xp" value="{{data.xp}}"></div>
                </div>
                <div>
                    <label>Skill</label>
                    <div>{{data.value}}%</div>
                </div>
            </div>
            <hr>
            <div class="itemSheetHeader">
                <div>
                    <label>Affected by ENC</label>
                    <div><input type="checkbox" name="data.encEffect" {{checked data.encEffect}}></div>
                </div>
                <div>
                    <label>Trained</label>
                    <div><input type="checkbox" name="data.trained" {{checked data.trained}}></div>
                </div>
                <div>
                    <label>Fumbled</label>
                    <div><input type="checkbox" name="data.fumbled" {{checked data.fumbled}}></div>
                </div>
            </div>
        </div>
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="editorBody">
            <h1>Notes</h1>
            {{editor content=data.desc target="data.desc" button=true owner=owner editable=editable}}
        </div>
    </section>

</form>