<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname">
                <img class="item-profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="50" width="50"/>
                <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
            </h1>

            <div class="itemSheetHeader">
                <div>
                    <label>Qty</label>
                    <div><input type="number" name="data.qty" value="{{data.qty}}"/></div>
                </div>
                <div>
                    <label>ENC</label>
                    <div><input type="number" name="data.enc" value="{{data.enc}}"/></div>
                </div>
                <div>
                    <label>Price</label>
                    <div><input type="number" name="data.price" value="{{data.price}}"/></div>
                </div>
                <div>
                    <label>HP</label>
                    <div>
                        <input type="number" name="data.hpValue" value="{{data.hpValue}}"/>
                        <input type="number" name="data.hpMax" value="{{data.hpMax}}"/>
                    </div>
                </div>
                <div>
                    <label>AP</label>
                    <div>
                        <input type="number" name="data.armorValue" value="{{data.armorValue}}"/>
                        <input type="number" name="data.armorMax" value="{{data.armorMax}}"/>
                    </div>
                </div>
            </div>
            <hr>
            <div class="itemSheetHeader">
                <div>
                    <label>Trained</label>
                    <div><input type="checkbox" name="data.trained" {{checked data.trained}}></div>
                </div>
                <div>
                    <label>Damage Mod?</label>
                    <div><input type="checkbox" name="data.addDamageMod" {{checked data.addDamageMod}}/></div>
                </div>
                <div>
                    <label>Damage</label>
                    <div><input type="text" name="data.dmg" value="{{data.dmg}}"/></div>
                </div>
                <div>
                    <label>Range</label>
                    <div><input type="text" name="data.range" value="{{data.range}}"/></div>
                </div>
                <div>
                    <label>Force</label>
                    <div><input type="text" name="data.force" value="{{data.force}}"/></div>
                </div>
                <div>
                    <label>Load</label>
                    <div><input type="text" name="data.load" value="{{data.load}}"/></div>
                </div>
            </div>


        </div>
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="editorBody">
            <h1>Notes</h1>
            {{editor content=data.desc target="data.desc" button=true owner=owner editable=editable}}
        </div>
    </section>

</form>