<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="itemSheetHeader">
                <div>
                    <label>Discipline</label>
                    <div>
                        <select name="data.discipline" data-dtype="String">
                            {{#select data.discipline}}
                            {{#each data.magicTypes as |magicTypes key|}}
                            <option value="{{key}}">{{magicTypes}}</option>
                            {{/each}} {{/select}}
                        </select>
                    </div>
                </div>
                <div>
                    <label>Level</label>
                    <div><input type="number" name="data.level" value="{{data.level}}"/></div>
                </div>
                <div>
                    <label>MP Cost</label>
                    <div><input type="number" name="data.cost" value="{{data.cost}}"/></div>
                </div>
                <div>
                    <label>Intensity</label>
                    <div><input type="number" name="data.intensity" value="{{data.intensity}}"/></div>
                </div>
                <div>
                    <label>Magnitude</label>
                    <div><input type="number" name="data.magnitude" value="{{data.magnitude}}"/></div>
                </div>
            </div>
        </div>
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="editorBody">
            <h1>Notes</h1>
            {{editor content=data.desc target="data.desc" button=true owner=owner editable=editable}}
        </div>
    </section>

</form>