/* Fonts */
@font-face {
    font-family: "Cinzel";
    src: url("../styles/fonts/Cinzel-Regular.otf");
}
@font-face {
    font-family: "Cinzel Bold";
    src: url("../styles/fonts/Cinzel-Bold.otf");
}
@font-face {
    font-family: "Cinzel Decorative";
    src: url("../styles/fonts/CinzelDecorative-Regular.otf");
}
@font-face {
    font-family: "Breathe Fire";
    src: url("../styles/fonts/BreatheFire-65pg.ttf");
}

/* 
    Set Font Defaults
*/
/* .m-d100 {
    font-family: "Cinzel";
    src: url("../styles/fonts/Cinzel-Regular.otf");
    font-weight: bold;
} */
.m-d100 h1 {
    font-family: "Cinzel";
    src: url("../styles/fonts/Cinzel-Regular.otf");
    font-weight: bold;
}
.m-d100 h2 {
    font-family: "Cinzel";
    src: url("../styles/fonts/Cinzel-Regular.otf");
    font-weight: bold;
}
.m-d100 h3 {
    font-family: "Cinzel";
    src: url("../styles/fonts/Cinzel-Regular.otf");
    font-weight: bold;
}
.m-d100 label {
    font-family: "Cinzel";
    src: url("../styles/fonts/Cinzel-Regular.otf");
    font-weight: bold;
}
.m-d100 .navBar {
    font-family: "Cinzel";
    src: url("../styles/fonts/Cinzel-Regular.otf");
    font-weight: bold;
}
.m-d100 select {
    font-family: "Cinzel";
    src: url("../styles/fonts/Cinzel-Regular.otf");
    font-weight: bold;
}
.m-d100 input {
    font-weight: bold;
    font-family: "Cinzel";
    src: url("../styles/fonts/Cinzel-Regular.otf");
}
.m-d100 table {
    font-weight: bold;
    font-family: "Cinzel";
    src: url("../styles/fonts/Cinzel-Regular.otf");
}

/*
    Global Styles
*/
.m-d100 .entity-link {
    color: black;
}
.m-d100 .window-content {
    height: 100%;
    padding: 0;
    min-width: 150px;
    background: repeat url("../images/grayTile3.jpg");
    color: rgb(235, 235, 235);
}
.m-d100 .editor {
    min-height: 200px;
}
.m-d100 .editor-content {
    min-height: 600px;
    margin-left: 10px;
    margin-top: 10px;
}
.m-d100 input {
    color: rgb(235, 235, 235);
}
.m-d100 select {
    color: rgb(235, 235, 235);
}
.m-d100 select option {
    color: black;
}
.m-d100 .fa-trash {
    color: black;
}
.m-d100 .fa-trash:hover {
    transform: scale(1.5);
    transition: 0.2s;
}
.m-d100 .fas-fa-d20 {
    color: black;
}
.m-d100 .editor .editor-edit {
    color: black;
}
/* 
.window-app .window-content {
    background: repeat url("../images/grayAccent.jpg");
    color: rgb(211, 211, 211);
}
.window-app .notes {
    color: rgb(211, 211, 211);
}
.window-app button {
    color: rgb(211, 211, 211);
    border: none;
}
.window-app .window-content .package-list .package-title {
    color: rgb(211, 211, 211);
}
.window-content .editor-content .entity-link {
    color: black;
}
.window-content .form-header {
    color: rgb(211, 211, 211);
}
.window-content .form-group .units {
    color: rgb(211, 211, 211);
}
.window-content .form-group select {
    color: rgb(211, 211, 211);
}
.window-content .display-mode {
    color: rgb(0, 0, 0);
}
.window-content .form-group textarea {
    color: rgb(211, 211, 211);
}
.window-app input {
    color: rgb(211, 211, 211);
}
.window-app select {
    color: rgb(211, 211, 211);
}
.window-app select option {
    color: black;
}
.m-d100 .editor {
    min-height: 200px;
}
.window-content .editor-edit {
    color: black;
}
.m-d100 .editor-content {
    min-height: 600px;
    margin-left: 10px;
    margin-top: 10px;
}
.journal-sheet .window-content .editor {
    background-color: rgba(148, 148, 148, 0.2);
}
.window-app .window-content .editor .editor-content {
    color: rgb(211, 211, 211);
}
.m-d100 li .fa-heart-broken {
    color: black;
} */

/* All Other Styles (Really need to organize it later) */
.m-d100 .stickyHeader {
    position: sticky;
    top: 0;
    margin: 0;
    z-index: +1;
    background: repeat url("../images/darkTile2.jpg");
    opacity: 100%;
}
.m-d100 button {
    background-color: transparent;
    text-align: center;
    height: 25px;
    width: 25px;
    flex: 0 0 24px;
    line-height: 18px;
    margin: 0 5px 5px 0;
    border: none;
    float: left;
    color: white;
}
.m-d100 button:hover {
    transform: scale(1.2);
    transition: 0.2s;
    cursor: pointer;
    background-color: darkred;
    color: white;
}
.m-d100 .sheet-body .tab {
    overflow-y: scroll;
    overflow-x: hidden;
}
.m-d100 select:hover {
    cursor: pointer;
}
.m-d100 .item-name {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.m-d100 .sheet-header {
    height: 170px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background: repeat url("../images/darkTile2.jpg");
}
.m-d100 .sheet-header .profile-img {
    height: 150px;
    width: 150px;
    flex: 0 0 150px;
    margin: 5px 0 0 10px;
    border: none;
}
.m-d100 .charname {
    display: flex;
    justify-content: left;
    align-items:flex-start;
}
.m-d100 .sheet-header .item-profile-img {
    height: 50px;
    width: 50px;
    margin: 5px 0 0 10px;
    border: none;
    float: left;
}
.m-d100 .item-controls {
    flex: 0 0 20px;
    margin: 0 5px 0 5px;
    float: right;
}
.m-d100 .resources {
    text-align: right;
    padding: 5px;
    margin: 0 5px 5px 5px;
    flex: 0 0 24px;
}
.m-d100 .resources input {
    border-radius: 70%;
    height: 40px;
    width: 40px;
}
.m-d100 .resources label {
    font-weight: bold;
    font-size: 15px;
    flex: 0 0 24px;
    text-align: center;
}
.m-d100 .resourceGroup1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    font-family: "Cinzel";
    font-weight: bold;
}
.m-d100 .resourceGroup1 .resourceLabel {
    font-size: 24px;
}
.m-d100 .xpResource {
    text-align: center;
}
.m-d100 .sheet-tabs {
    background-color: rgb(112, 0, 0);
    font-size: large;
    font-weight: bold;
}
.m-d100 .sheet-tabs a:hover {
    transform: scale(1.1);
    transition: 0.2s;
}
.m-d100 .navBarCreature .sheet-tabs {
    background-color: rgb(0, 0, 0);
    font-family: "Cinzel";
    color: white;
}
.m-d100 .coreMainBar {
    float: right;
    width: 80%;
    text-align: center;
    padding-left: 5px;
    background: repeat url("../images/darkTile2.jpg");
}
.m-d100 .coreTabSidebar {
    float: left;
    width: 20%;
    text-align: center;
    border-right: groove;
    background: repeat url("../images/darkTile2.jpg");
}
.m-d100 .characteristic-table label {
    display: inline-block;
    width: 12%;
}
.m-d100 .characteristic-table input {
    font-size: large;
    font-weight: bold;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: solid;
    border-width: 1px;
}
.m-d100 .skill-list1 {
    float: left;
    width: 40%;
    text-align: center;
}
.m-d100 .skill-list1 button {
    line-height: 18px;
    flex: 0 0 24px;
    height: 24px;
    width: 24px;
    text-align: center;
    float: left;
}
.m-d100 .skill-list1 .item {
    flex: 0 0 24px;
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #BBB;
    text-align: left;
}
.m-d100 .skill-list1 .item-name {
    margin: 0 5px 0 5px;
    text-align: left;
}
.m-d100 .item-name:hover {
    font-weight: bold;
    transform: scale(1.1);
    transition: 0.2s;
    padding: 0 0 0 15px;
}
.m-d100 .skill-list2 {
    float: left;
    width: 40%;
    text-align: center;
}
/* .m-d100 ol {
    background: repeat url("../images/parchment1.jpg");
} */
.m-d100 li {
    /* background-color: rgba(148, 148, 148, 0.2); */
    background-color: rgba(98, 98, 98, 0.2);
}
.m-d100 li img {
    border: none;
    line-height: 18px;
}
.m-d100 .skill-list2 button {
    line-height: 18px;
    flex: 0 0 24px;
    height: 24px;
    width: 24px;
    text-align: center;
    float: left;
}
.m-d100 .skill-list2 .item {
    flex: 0 0 24px;
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #BBB;
    text-align: left;
}
.m-d100 .skill-list2 .item-name {
    margin: 0 5px 0 5px;
    text-align: left;
}
.m-d100 .skill-table {
    text-align: center;
}
.m-d100 .combatTabLists {
    text-align: center;
}
.m-d100 .combatTabLists button {
    line-height: 18px;
    flex: 0 0 24px;
    height: 24px;
    width: 24px;
    text-align: center;
    float: left;
    border: none;
}
.m-d100 .combatTabLists input {
    text-align: center;
    border-radius: 50px;
    height: 18px;
    width: 35px;
}
.m-d100 .combatTabLists .floatRight {
    float: right;
    flex: 0 0 24px;
}
.m-d100 .skillValue {
    margin: 0 5px 0 0;
    float: right;
    flex: 0 0 50px;
    text-align: right;
    font-weight: bold;
}
.m-d100 .combatTabLists .hit-locations .armorLabel {
    margin: 0 0 0 50px;
    float: right;
    flex: 5 5 0;
    text-align: center;
    font-size: small;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.m-d100 .combatTabLists .hit-locations .armorLabel:hover {
    transform: scale(1.2);
    transition: 0.2s;
}
.m-d100 .hpInputs {
    margin: 0 5px 0 0;
    flex: 0 0 80px;
    float: right;
    text-align: right;
    font-weight: bold;
}
.m-d100 .hpInputs:hover {
    transform: scale(1.2);
    transition: 0.2s;
    cursor: pointer;
    padding: 0 10px 0 0;
}
.m-d100 .combatTabLists .rangeData {
    margin: 0 0 0 0;
    flex: 0 0 50px;
    font-weight: bold;
    text-align: center;
}
.m-d100 .combatTabLists .item-name {
    margin: 0 5px 0 5px;
    flex: 5 0 0;
    text-align: left;
}
.m-d100 .combatTabLists .item {
    flex: 0 0 24px;
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #BBB;
    text-align: left;
    margin: 5px 0 0 0;
}
.m-d100 .combat-style-list {
    float: left;
    width: 50%;
    padding: 0 5px 0 5px;
}
.m-d100 .skill-list-header {
    flex: 0 0 24px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
.m-d100 .skill-list-header button {
    line-height: 18px;
    flex: 0 0 24px;
}
.m-d100 .skill-list-header .itemCreate:hover {
    border: inset;
    background-color: darkred;
}
.m-d100 .paperDoll {
    margin: 0 0 0 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}
.m-d100 .dollArt {
    margin: 0 0 0 25px;
}
.m-d100 .paperDoll img:hover {
    background-clip: padding-box;
    transform: scale(1.05);
    cursor: url("/systems/m-d100/images/cursor1.png"), pointer;
}
.m-d100 .paperDoll img {
    border: transparent;
    background: transparent;
    transition: transform 0.2s;
}
.m-d100 .paperDoll .statusFlexContainer {
    display: flex;
    align-items: center;
    border: inset;
    height: 180px;
    width: 65px;
    flex-wrap: wrap;
    background: repeat url("../images/darkTile2.jpg");
}
.m-d100 .paperDoll .statusLabel {
    float: left;
    text-align: left;
    margin: 0 0 0 5px;
    flex: 0 0 100%;
}
.m-d100 .hit-locations {
    display: inline-block;
    width: 100%;
    padding: 0 0 0 0;
}
.m-d100 .selectHitLocationArray:hover {
    transition: 0.5s;
    transform: scale(1.2);
    cursor: pointer;
    margin: 0 0 0 10px;
}
.m-d100 .hit-locations .hitLocationTable {
    float: left;
    width: 75%;
    background: repeat url("../images/darkTile2.jpg");
    border: inset;
}
.m-d100 .itemHeaderContainer {
    border: none;
}
.m-d100 .itemHeaderContainer .headerItem1 {
    text-align: center;
    float: left;
    margin: 0 0 0 20px;
}
.m-d100 .itemHeaderContainer .headerItem1:hover {
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.2s;
    background-color: darkred;
    border: groove;
}
.m-d100 .itemHeaderContainer .headerItem2 {
    text-align: center;
    float: left;
    margin: 0 0 0 22px;
}
.m-d100 .itemHeaderContainer .headerItem3 {
    text-align: center;
    float: center;
    margin: 0 0 0 20px;
}
.m-d100 .itemHeaderContainer .headerItem4 {
    text-align: center;
    float: right;
    margin: 0 35px 0 0;
}
.m-d100 .itemHeaderContainer .headerItem4:hover {
    transform: scale(1.3);
    transition: 0.2s;
    border: groove;
    background-color: darkred;
    cursor: pointer;
}


/* Show On Hover if Wounded (Found this code online with HTML Container, not exactly sure how it works lol */

.m-d100 .noShow, .hitLocationDetails:hover .show {
    display: none;
}
.m-d100 .hitLocationDetails:hover .noShow {
    display: flex;
    align-items: baseline;
}



.m-d100 .specialNumber {
    font-size: large;
}
.m-d100 .inventorySidebar {
    float: left;
    width: 40%;
    border-right: groove;
    /* background: repeat url("../images/darkTile2.jpg"); */
}
.m-d100 .currencyList {
    border: none;
    padding: 0 5px 0 0;
}
.m-d100 .currencyList .item {
    flex: 0 0 24px;
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #BBB;
    text-align: left;
    margin: 5px 0 0 0;
}
.m-d100 .currencyList .item-name {
    flex: 5 0 0;
    text-align: left;
}
.m-d100 .combatStatusBar {
    float: left;
    width: 25%;
    margin: 4px 0 0 0;
    padding: 0;
}
.m-d100 .dropDown {
    border: none;
}
.m-d100 .inventoryTable {
    float: right;
    padding: 0 0 0 5px;
    width: 60%;
}
.m-d100 .inventoryTable .item {
    flex: 0 0 24px;
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #BBB;
    text-align: left;
}
.m-d100 .inventoryTable .item-name {
    flex: 5 0 0;
    text-align: left;
}
.m-d100 .inventoryTable .itemListHeader {
    margin: 0 25px 0 0;
    float: right;
    flex: 0 0 50px;
    text-align: right;
    font-weight: bold;
}
.m-d100 .encStatusBar {
    font-size: 16px;
    padding: 0 5px 0 5px;
    background: repeat url("../images/darkTile2.jpg");
}
.m-d100 .encStatusBar span {
    margin: 0 5px 0 0;
    float: right;
    font-size: large;
}
.m-d100 .magicSpells {
    width: 100%;
    float: left;
    padding: 0 5px 0 5px;
    background: repeat url("../images/darkTile2.jpg");
}
.m-d100 .magicSpells button {
    line-height: 18px;
    flex: 0 0 24px;
    height: 24px;
    width: 24px;
    text-align: center;
    float: left;
}
.m-d100 .spell-list {
    display: inline-block;
    flex: 0 0 24px;
    padding: 0;
    width: 100%;
}
.spell-list li {
    flex: 0 0 24px;
    float: left;
    list-style: outside none none;
    width: 50%;
}
.m-d100 .spellSectionHeader {
    width: 100%;
    float: left;
}
.m-d100 .spell-list .item {
    flex: 0 0 24px;
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #BBB;
    text-align: left;
}
.m-d100 .itemHeaderValues {
    text-align: center;
}
.m-d100 .itemHeaderValues label {
    display: inline-block;
    width: 18%;
}
.m-d100 .itemHeaderValues input {
    width: 50px;
    text-align: center;
}
.m-d100 .itemSheetHeader {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 0 5px 0 5px;
}
.m-d100 .itemSheetHeader input {
    width: 60px;
}
.m-d100 .heightWeightChart label:hover {
    font-size: 16px;
    color: darkred;
    transition: 0.2s;
    cursor: pointer;
}
.m-d100 .currencyQty:hover {
    transform: scale(1.1);
    transition: 0.2s;
    padding: 0 10px 0 0;
    cursor: pointer;
}
.m-d100 .journalContainer {
    display: flex;
    justify-content: flex-start;
}
.m-d100 .journalContainer .journalSpace {
    width: 50%;
    border: inset;
    background-color: rgba(148, 148, 148, 0.2);
}
.m-d100 .editorBody {
    background-color: rgba(148, 148, 148, 0.2);
}